{
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:jest/all",
    "plugin:testing-library/react"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest",
    "testing-library"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "jest/prefer-expect-assertions": "off",
    "jest/no-hooks": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ]
  }
}